.card {
  background: #44464c;
  margin-bottom: 30px;
  min-height: 160px;
}

.card.racing {
  background: #24262c;
}

.button {
  background: #fd79fc;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  width: 120px;
}

.button-cancel {
  background: none;
  border: 0;
  color: #fd79fc;
  text-decoration: underline;
  width: 120px;
}

.date, .price {
  color: #9397d8;
}

.description {
  color: #66d9f7;
}

.panel-body {
  display: table;
  padding: 0;
}

.photo {
  float: left;
  margin-right: 30px;
}

.price {
  margin: 0;
  font-size: 18px;
  text-align: center;
  width: 120px;
}

.race-info {
  display: table-cell;
  vertical-align: middle;
}

.race-info h3 {
  margin: 0 0;
}

.race-info td:last-child {
  padding: 0 20px;
  text-align: center;
}

.race-info, .race-info tbody, .race-info tr, .race-info td {
  width: 100%;
}

.race-info tbody {
  display: inline-block;
}
